
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=AdventureTablet
Exec=/usr/bin/python /opt/adventure-tablet/src/__main__.py >/tmp/adventure_tablet.out 2>/tmp/adventure_tablet.err
Icon=adventure-tablet
Categories=Game;AdventureGame;
Name[en_US]=AdventureTablet
Comment=Random adventure generator
